h1{
    color: red;
}

.land{
    background-image: url("/static/Images/land.webp");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.navigation li{
    color: brown !important;
    display: flex !important;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
}

.navigation{
    display: flex !important;
    gap: 5%;

}

.navigation li a{
    text-decoration: none;
}
button[type=submit]{
    color: red;
    background-color: green;
    border-radius: 40px;
    width: 150%;
    height: 150%;
    font-weight: bold;
    font-size: x-large;
}

.button{
    top: 50%;
    transform: 0,-50%;
    position: absolute;
    margin-left: 40%;
}

button a{
    color: red;
    text-decoration: none;
}