button[type=submit] a{
    text-decoration: none;
    color: black;
}

.btn{
   width: 50px;
}

button {
    text-decoration: none;
    color: black;
    background-color: grey;
    border: none;
    border-radius: 10px;

}

button[type=back] a{
    text-decoration: none;
    border: none;
    border-radius: 10px;
    color: brown;
}